
h4{
    text-align: center;
    font: 30px;
    color: rgb(48, 48, 184);
}
h1{
    text-align: center;
    font-size: 30px;
    color: rgb(30, 51, 107);
    }

P{
    color:rgb(47, 47, 209);
    text-align: justify;
    font-size: 30px;
    }


    body{
        background-color: rgb(173, 224, 241);
        font-size: 40px;
        font-family: sans-serif;
    }
    header{
        padding: 20px;
        background-color: rgb(119, 213, 245);
        border-bottom: 5px solid white;
        display: flex;
        justify-content: space-around;
        text-align:right ;
    }

    .principal{
        background-color: #9372f6;
    }

    
    #logocurso {
        max-width: 150px;
        width: auto;
        padding: 5px;
        margin: 10px;
        
       
    }
    
       
    .imagem{
        max-width:300px;
        width: auto;
        padding: 10px;
        margin: 15px;
       

    }
    .Integrado{
        font-size: 20px;
        list-style-position: inside;
    }
    
    .Subsequente {
        font-size: 20px;
        list-style-position: inside;
    }

   