

h1{
    text-align: center;
    font-size: 50px;
    color: rgb(28, 51, 116);
}

P{
    color:blue;
    text-align: justify;
    font-size: 30px;
    }


    body{
        background-color: rgb(207, 246, 252);
    }